@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin:0;
}

/* Nav */

.nav-head {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    height:80vh;
    position:relative;
    z-index: 2;
}

.nav-head::before {
    position:absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(113,123,170,0.1), rgb(255, 255, 255));
    z-index:1;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.titre-site h1 {
    margin:0;
    color:white;
    font-family: "Baloo 2";
    font-size: 22px;
}

.nav-hamb {
    display:flex;
    gap:30px;
    justify-content: space-between;
    /* border: solid black 2px; */
}

.navbar {
    display: flex;
    gap:20px;
    /* border: black 2px solid; */
}

.navbar p {
    font-family: "Baloo 2";
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.hamburger {
    /* border:solid black 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger i {
    color:white;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-maindiv {
    width:40vh;
    height:auto;
    border: solid black 2px;
}