@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin:0;
}

/* Nav */

.nav-head {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    height:80vh;
    position:relative;
    z-index: 1;
}

.nav-head::before {
    position:absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(113,123,170,0.1), rgb(255, 255, 255));
    z-index:1;
}

nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.titre-site h1 {
    margin:0;
    color:white;
    font-family: "Baloo 2";
    font-size: 22px;
}

.nav-hamb {
    position: relative;
    z-index: 3;
    display:flex;
    gap:30px;
    justify-content: space-between;
    /* border: solid black 2px; */
}

.navbar {
    display: flex;
    gap:20px;
    /* border: black 2px solid; */
}

.navbar p {
    font-family: "Baloo 2";
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.hamburger {
    /* border:solid black 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger i {
    color:white;
}

/* Header */

header {
    position: relative;
    z-index: 3;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid black 2px; */
    padding-top: 90px;
}

.header-maindiv {
    top:50px;
    width:60vh;
    height:auto;
    /* border: solid black 2px; */
}

.header-h3 h3 {
    font-family: "Baloo 2";
    text-transform: uppercase;
    color:#585960;
    font-size: 68px;
    font-weight: 800;
    /* border: black solid 2px; */
    margin:0;
}

.header-h1 h1 {
    font-family: "Baloo 2";
    color:#41454e;
    font-size: 90px;
    font-weight:800;
    line-height: 1;
    margin:0;
    /* border:solid black 1px; */
}

.header-h4 h4 {
    font-family: "Noto Sans JP";
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 8px;
    margin:0;
    margin-top: 5px;
}

.header-btn button {
    background-color: #695aa6;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 40px;
    border:none;
    margin-top: 40px;
}

.header-btn button p {
    color:white;
    text-transform: capitalize;
    font-family: "Noto Sans JP";
    font-size: 17px;
    font-weight: 400;
    margin:0;
}